@import 'susy';

// basic geometry
$column-width          : 6em;
$gutter-width          : 1em;
$grid-padding          : $gutter-width;

$container-style       : fluid;
$show-grid-backgrounds : true;

$vertical-layout-columns    : 4; // default, mobile first
$horizontal-sidebar-columns : 8;
$horizontal-sidebar-layout  : 30em $horizontal-sidebar-columns 60em;
$sidebar-right-columns      : 12;
$sidebar-right-layout       : 60em $sidebar-right-columns;

$indented-lists : true;

.page { @include container($vertical-layout-columns, 
                           $horizontal-sidebar-layout, 
                           $sidebar-right-layout); }

.page {

  > header, > footer { @include clearfix; }
  > nav { @include pie-clearfix }


  @include at-breakpoint($horizontal-sidebar-layout) {

    #main > section:first-child, #default-sidebar, #index-sidebar { 
      @include clearfix; }

    > header {
      > hgroup { @include span-columns(6      , $horizontal-sidebar-columns); }
      > menu   { @include span-columns(2 omega, $horizontal-sidebar-columns); }
    } // > header

    > nav, > footer, #main > section:first-child,  { 
      @include span-columns(8 omega, $horizontal-sidebar-columns); }

    // if you add more layout options for sidebars, add them here, too
    #default-sidebar {
      section.recent-posts { 
        @include span-columns(3      , $horizontal-sidebar-columns); }
      aside.delicious { 
        @include span-columns(3      , $horizontal-sidebar-columns); }
      github.delicious { 
        @include span-columns(2 omega, $horizontal-sidebar-columns); }
    } // #default-sidebar

    #index-sidebar { 
      aside.delicious {
        @include span-columns(4      , $horizontal-sidebar-columns); }
      github.delicious { 
        @include span-columns(4 omega, $horizontal-sidebar-columns); }
    } // #index-sidebar

  } // at-breakpoint($horizontal-sidebar-layout) {


  @include at-breakpoint($sidebar-right-layout) {

    #main { @include clearfix; }

    > header {
      > hgroup     { @include span-columns( 8      , $sidebar-right-columns); }
      > menu       { @include span-columns( 4 omega, $sidebar-right-columns); }
    } // > header

    > nav          { @include span-columns(12 omega, $sidebar-right-columns); }

    #main {
      > section:first-child {

        $article-columns : 8;
        @include span-columns($article-columns, $sidebar-right-columns);

        > article { @include span-columns(8 omega, $article-columns); }
        > footer  { @include span-columns(8 omega, $article-columns); }

      } // > section:first-child

      aside.sidebar { @include span-columns( 4 omega, $sidebar-right-columns); }

    } // #main

    > footer        { @include span-columns(12 omega, $sidebar-right-columns); }

  } // at-breakpoint($sidebar-right-layout) {

} // .page
