$column-width             : 1em;
$gutter-width             : .5em;
$grid-padding             : $gutter-width;

$container-style          : fluid;
$show-grid-backgrounds    : true;

$vertical-layout-columns  : 16; // default, mobile first
$horizontal-aside-columns : 24;
$horizontal-aside-layout  : 40em $horizontal-aside-columns 60em;
$aside-right-columns      : 30;
$aside-right-layout       : 60em $aside-right-columns;

body > div { @include container($vertical-layout-columns, 
                                $horizontal-aside-layout, 
                                $aside-right-layout); }
