$column-width             : 6em;
$gutter-width             : 1em;
$grid-padding             : 0;

$container-style          : fluid;
$show-grid-backgrounds    : true;

$vertical-layout-columns  : 4; // default, mobile first
$horizontal-aside-columns : 8;
$horizontal-aside-layout  : 40em $horizontal-aside-columns 60em;
$aside-right-columns      : 12;
$aside-right-layout       : 60em $aside-right-columns;

body > div { @include container($vertical-layout-columns, 
                                $horizontal-aside-layout, 
                                $aside-right-layout); }

$vertical-layout-padding  : 5px;
$horizontal-aside-padding : 15px;
$aside-right-padding      : 25px;
$inside-aside-padding     : 10px; // aside-right-layout only
