.main-content { // a container that creates structure
  margin  : 0;
  padding : 0;
}

.content { 
  margin  : 0;
  @include pad(1, 1, $vertical-layout-columns);

  @include at-breakpoint($horizontal-aside-layout) { 
    @include pad(1, 1, $horizontal-aside-columns); 
    @include span-columns(22 omega, $horizontal-aside-columns); 
  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    @include pad(2, 1, $aside-right-columns); 
    @include span-columns(17, $aside-right-columns);

  } // $aside-right-layout

} // .content
