@import 'shared/grid-geometry';

@import 'shared/site-header';
@import 'shared/site-credits';
@import 'shared/primary-navigation';
@import 'shared/aside-right';
@import 'shared/follow-menu';
@import 'shared/sharing-menu';

#grid {
  margin : 0;

  > header, #primary-navigation, #main-content, #sticky-footer {
    margin : 0 0.5em;

    @include at-breakpoint($tablet-layout) { margin : 0 1em; }
  } 

  @include at-breakpoint($fullsize-layout) {

    > header, #primary-navigation, #sticky-footer, #default-aside, #index-aside {
      margin : 0 1.5em;
    }

    #main-content > article, #main-content > section {
      margin : 0 2.5em 0 1.5em;
    }

  } // end @include at-breakpoint($fullsize-layout) 

} // end #grid {
