/* line 10, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
section,
summary {
  display: block;
}

/* line 14, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
[hidden] {
  display: none;
}

/* line 20, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 26, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 31, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
.flex-content {
  max-width: 100%;
  height: auto;
}

/* line 35, /Users/hholz/coding/ruby/octopress/sass/defaults/_box-model.scss */
body,
menu,
nav {
  margin: 0;
  padding: 0;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 6, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
b, strong {
  font-weight: bold;
}

/* line 7, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
del, s {
  text-decoration: line-through;
}

/* line 8, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
em, dfn {
  font-style: italic;
}

/* line 10, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 15, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
a:focus {
  outline: thin dotted;
}

/* line 17, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 19, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
p {
  margin-left: 0;
  margin-right: 0;
}

/* line 24, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
p, blockquote, li, dd {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* line 26, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
q {
  quotes: none;
}

/* line 27, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
q {
  font-style: italic;
}
/* line 28, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
q:before {
  content: '\201C';
}
/* line 29, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
q:after {
  content: '\201D';
}

/* line 32, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
blockquote {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  font-style: italic;
}
/* line 37, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
blockquote cite {
  font-style: normal;
}
/* line 39, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
blockquote cite:before {
  content: '\2014';
  padding-right: .3em;
  padding-left: .3em;
}

/* line 46, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
.bullet, a[rel=bookmark]:before {
  content: '\2022';
  padding: 0 .4em;
  display: inline-block;
}

/* line 52, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
.vertical-line {
  content: '\007C';
  padding: 0 .4em;
  display: inline-block;
}

/* line 61, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.5em;
}

/* line 70, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
small {
  font-size: 0.8em;
  line-height: 1.875em;
}

/* line 71, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
big {
  font-size: 1.2em;
  line-height: 1.25em;
}

/* line 73, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
sup, sub {
  font-size: 0.8em;
  line-height: 1.875em;
  position: relative;
  display: inline-block;
}

/* line 78, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
sup {
  top: -0.5em;
}

/* line 79, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
sub {
  bottom: -0.5em;
}

/* line 81, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
abbr, abbr[title], acronym {
  border-bottom-style: dotted;
  border-bottom-width: 0.07143em;
  padding-bottom: 1.42857em;
  cursor: help;
}

/* line 83, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
p, blockquote, ul, ol, dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 89, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
.pullquote-right:before,
.pullquote-left:before {
  content: attr(data-pullquote);
  padding: 0;
  position: relative;
  width: 45%;
  font-size: 1.4em;
  line-height: 1.60714em;
}

/* line 98, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
.pullquote-right:before {
  display: inline;
  float: right;
  border-left-style: none;
  border-left-width: 0;
  padding-left: 31px;
}

/* line 103, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
.pullquote-left:before {
  display: inline;
  float: left;
  border-right-style: none;
  border-right-width: 0;
  padding-right: 31px;
}

/* line 108, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ul, ol, dl {
  margin-left: 1em;
  margin-right: 0;
}

/* line 113, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ul {
  list-style-type: disc;
}
/* line 114, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ul ul {
  list-style-type: circle;
}
/* line 115, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ul ul ul {
  list-style-type: square;
}

/* line 117, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ol {
  list-style-type: decimal;
}
/* line 118, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 119, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
ol ol ol {
  list-style-type: lower-roman;
}

/* line 121, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
li, dd {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 0;
}

/* line 128, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 129, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h2, section h1 {
  font-size: 1.6em;
  line-height: 1.40625em;
}

/* line 130, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h3, section h2, section section h1 {
  font-variant: small-caps;
  font-size: 1.3em;
  line-height: 1.73077em;
}

/* line 134, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h4, section h3, section section h2, section section section h1 {
  font-size: 1.3em;
  line-height: 1.73077em;
}

/* line 138, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h5, section h4, section section h3, section section section h2,
section section section section h1 {
  font-variant: small-caps;
  font-size: 1.1em;
  line-height: 1.36364em;
}

/* line 143, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
h6, section h5, section section h4, section section section h3,
section section section section h2, section section section section section h1 {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.36364em;
}

/* line 148, /Users/hholz/coding/ruby/octopress/sass/defaults/_type.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/* line 5, /Users/hholz/coding/ruby/octopress/sass/defaults/_fonts.scss */
.sans, .main, body, .primary-navigation, .aside, body aside, .aside-base {
  font-family: Trebuchet MS, Arial, sans-serif;
}

/* line 6, /Users/hholz/coding/ruby/octopress/sass/defaults/_fonts.scss */
.serif, .header, body header, body header h1, body header h2, body header h3, body header h4, body header h5, body header h6, body code header, body tt header, body samp header, body aside header {
  font-family: Georgia, Times, Times New Roman, serif;
}

/* line 7, /Users/hholz/coding/ruby/octopress/sass/defaults/_fonts.scss */
.mono, .code, body pre, body pre header, body code, body tt, body samp {
  font-family: Menlo, Monaco, lucida console, Courier New, monospace;
}

/* line 16, /Users/hholz/coding/ruby/octopress/sass/defaults/_fonts.scss */
body header {
  text-rendering: optimizelegibility;
}

/* line 33, /Users/hholz/coding/ruby/octopress/sass/defaults/_fonts.scss */
.code a, body pre a, body pre header a, body code a, body tt a, body samp a, .aside a, body aside a, .aside-base a, .header a, body header a, body header h1 a, body header h2 a, body header h3 a, body header h4 a, body header h5 a, body header h6 a, body code header a, body tt header a, body samp header a, body aside header a {
  text-decoration: none;
}
/* line 4, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.code a:hover, body pre a:hover, body pre header a:hover, body code a:hover, body tt a:hover, body samp a:hover, .aside a:hover, body aside a:hover, .aside-base a:hover, .header a:hover, body header a:hover, body header h1 a:hover, body header h2 a:hover, body header h3 a:hover, body header h4 a:hover, body header h5 a:hover, body header h6 a:hover, body code header a:hover, body tt header a:hover, body samp header a:hover, body aside header a:hover {
  text-decoration: underline;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 6, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0.2em;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
}

/* line 12, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
legend {
  border-style: none;
  border-width: 0;
  padding: 10px;
  margin: 0;
  *margin-left: -0.5em;
}

/* line 18, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 24, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 1em;
  *width: 1em;
}

/* line 31, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 39, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 46, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
html input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 55, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 64, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 69, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 75, /Users/hholz/coding/ruby/octopress/sass/defaults/_forms.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
body {
  cursor: auto !important;
}

/* line 3, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
figure {
  margin: 0;
}

/* line 5, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 15, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 18, /Users/hholz/coding/ruby/octopress/sass/defaults/_visual.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 22, /Users/hholz/coding/ruby/octopress/sass/_grid-geometry.scss */
body > div {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.71429%, rgba(100, 100, 225, 0.25)), color-stop(5.71429%, rgba(0, 0, 0, 0)), color-stop(8.57143%, rgba(0, 0, 0, 0)), color-stop(8.57143%, rgba(100, 100, 225, 0.25)), color-stop(14.28571%, rgba(100, 100, 225, 0.25)), color-stop(14.28571%, rgba(0, 0, 0, 0)), color-stop(17.14286%, rgba(0, 0, 0, 0)), color-stop(17.14286%, rgba(100, 100, 225, 0.25)), color-stop(22.85714%, rgba(100, 100, 225, 0.25)), color-stop(22.85714%, rgba(0, 0, 0, 0)), color-stop(25.71429%, rgba(0, 0, 0, 0)), color-stop(25.71429%, rgba(100, 100, 225, 0.25)), color-stop(31.42857%, rgba(100, 100, 225, 0.25)), color-stop(31.42857%, rgba(0, 0, 0, 0)), color-stop(34.28571%, rgba(0, 0, 0, 0)), color-stop(34.28571%, rgba(100, 100, 225, 0.25)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(42.85714%, rgba(0, 0, 0, 0)), color-stop(42.85714%, rgba(100, 100, 225, 0.25)), color-stop(48.57143%, rgba(100, 100, 225, 0.25)), color-stop(48.57143%, rgba(0, 0, 0, 0)), color-stop(51.42857%, rgba(0, 0, 0, 0)), color-stop(51.42857%, rgba(100, 100, 225, 0.25)), color-stop(57.14286%, rgba(100, 100, 225, 0.25)), color-stop(57.14286%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(65.71429%, rgba(100, 100, 225, 0.25)), color-stop(65.71429%, rgba(0, 0, 0, 0)), color-stop(68.57143%, rgba(0, 0, 0, 0)), color-stop(68.57143%, rgba(100, 100, 225, 0.25)), color-stop(74.28571%, rgba(100, 100, 225, 0.25)), color-stop(74.28571%, rgba(0, 0, 0, 0)), color-stop(77.14286%, rgba(0, 0, 0, 0)), color-stop(77.14286%, rgba(100, 100, 225, 0.25)), color-stop(82.85714%, rgba(100, 100, 225, 0.25)), color-stop(82.85714%, rgba(0, 0, 0, 0)), color-stop(85.71429%, rgba(0, 0, 0, 0)), color-stop(85.71429%, rgba(100, 100, 225, 0.25)), color-stop(91.42857%, rgba(100, 100, 225, 0.25)), color-stop(91.42857%, rgba(0, 0, 0, 0)), color-stop(94.28571%, rgba(0, 0, 0, 0)), color-stop(94.28571%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.71429%, rgba(0, 0, 0, 0) 5.71429%, rgba(0, 0, 0, 0) 8.57143%, rgba(100, 100, 225, 0.25) 8.57143%, rgba(100, 100, 225, 0.25) 14.28571%, rgba(0, 0, 0, 0) 14.28571%, rgba(0, 0, 0, 0) 17.14286%, rgba(100, 100, 225, 0.25) 17.14286%, rgba(100, 100, 225, 0.25) 22.85714%, rgba(0, 0, 0, 0) 22.85714%, rgba(0, 0, 0, 0) 25.71429%, rgba(100, 100, 225, 0.25) 25.71429%, rgba(100, 100, 225, 0.25) 31.42857%, rgba(0, 0, 0, 0) 31.42857%, rgba(0, 0, 0, 0) 34.28571%, rgba(100, 100, 225, 0.25) 34.28571%, rgba(100, 100, 225, 0.25) 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 42.85714%, rgba(100, 100, 225, 0.25) 42.85714%, rgba(100, 100, 225, 0.25) 48.57143%, rgba(0, 0, 0, 0) 48.57143%, rgba(0, 0, 0, 0) 51.42857%, rgba(100, 100, 225, 0.25) 51.42857%, rgba(100, 100, 225, 0.25) 57.14286%, rgba(0, 0, 0, 0) 57.14286%, rgba(0, 0, 0, 0) 60%, rgba(100, 100, 225, 0.25) 60%, rgba(100, 100, 225, 0.25) 65.71429%, rgba(0, 0, 0, 0) 65.71429%, rgba(0, 0, 0, 0) 68.57143%, rgba(100, 100, 225, 0.25) 68.57143%, rgba(100, 100, 225, 0.25) 74.28571%, rgba(0, 0, 0, 0) 74.28571%, rgba(0, 0, 0, 0) 77.14286%, rgba(100, 100, 225, 0.25) 77.14286%, rgba(100, 100, 225, 0.25) 82.85714%, rgba(0, 0, 0, 0) 82.85714%, rgba(0, 0, 0, 0) 85.71429%, rgba(100, 100, 225, 0.25) 85.71429%, rgba(100, 100, 225, 0.25) 91.42857%, rgba(0, 0, 0, 0) 91.42857%, rgba(0, 0, 0, 0) 94.28571%, rgba(100, 100, 225, 0.25) 94.28571%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.71429%, rgba(0, 0, 0, 0) 5.71429%, rgba(0, 0, 0, 0) 8.57143%, rgba(100, 100, 225, 0.25) 8.57143%, rgba(100, 100, 225, 0.25) 14.28571%, rgba(0, 0, 0, 0) 14.28571%, rgba(0, 0, 0, 0) 17.14286%, rgba(100, 100, 225, 0.25) 17.14286%, rgba(100, 100, 225, 0.25) 22.85714%, rgba(0, 0, 0, 0) 22.85714%, rgba(0, 0, 0, 0) 25.71429%, rgba(100, 100, 225, 0.25) 25.71429%, rgba(100, 100, 225, 0.25) 31.42857%, rgba(0, 0, 0, 0) 31.42857%, rgba(0, 0, 0, 0) 34.28571%, rgba(100, 100, 225, 0.25) 34.28571%, rgba(100, 100, 225, 0.25) 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 42.85714%, rgba(100, 100, 225, 0.25) 42.85714%, rgba(100, 100, 225, 0.25) 48.57143%, rgba(0, 0, 0, 0) 48.57143%, rgba(0, 0, 0, 0) 51.42857%, rgba(100, 100, 225, 0.25) 51.42857%, rgba(100, 100, 225, 0.25) 57.14286%, rgba(0, 0, 0, 0) 57.14286%, rgba(0, 0, 0, 0) 60%, rgba(100, 100, 225, 0.25) 60%, rgba(100, 100, 225, 0.25) 65.71429%, rgba(0, 0, 0, 0) 65.71429%, rgba(0, 0, 0, 0) 68.57143%, rgba(100, 100, 225, 0.25) 68.57143%, rgba(100, 100, 225, 0.25) 74.28571%, rgba(0, 0, 0, 0) 74.28571%, rgba(0, 0, 0, 0) 77.14286%, rgba(100, 100, 225, 0.25) 77.14286%, rgba(100, 100, 225, 0.25) 82.85714%, rgba(0, 0, 0, 0) 82.85714%, rgba(0, 0, 0, 0) 85.71429%, rgba(100, 100, 225, 0.25) 85.71429%, rgba(100, 100, 225, 0.25) 91.42857%, rgba(0, 0, 0, 0) 91.42857%, rgba(0, 0, 0, 0) 94.28571%, rgba(100, 100, 225, 0.25) 94.28571%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.71429%, rgba(0, 0, 0, 0) 5.71429%, rgba(0, 0, 0, 0) 8.57143%, rgba(100, 100, 225, 0.25) 8.57143%, rgba(100, 100, 225, 0.25) 14.28571%, rgba(0, 0, 0, 0) 14.28571%, rgba(0, 0, 0, 0) 17.14286%, rgba(100, 100, 225, 0.25) 17.14286%, rgba(100, 100, 225, 0.25) 22.85714%, rgba(0, 0, 0, 0) 22.85714%, rgba(0, 0, 0, 0) 25.71429%, rgba(100, 100, 225, 0.25) 25.71429%, rgba(100, 100, 225, 0.25) 31.42857%, rgba(0, 0, 0, 0) 31.42857%, rgba(0, 0, 0, 0) 34.28571%, rgba(100, 100, 225, 0.25) 34.28571%, rgba(100, 100, 225, 0.25) 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 42.85714%, rgba(100, 100, 225, 0.25) 42.85714%, rgba(100, 100, 225, 0.25) 48.57143%, rgba(0, 0, 0, 0) 48.57143%, rgba(0, 0, 0, 0) 51.42857%, rgba(100, 100, 225, 0.25) 51.42857%, rgba(100, 100, 225, 0.25) 57.14286%, rgba(0, 0, 0, 0) 57.14286%, rgba(0, 0, 0, 0) 60%, rgba(100, 100, 225, 0.25) 60%, rgba(100, 100, 225, 0.25) 65.71429%, rgba(0, 0, 0, 0) 65.71429%, rgba(0, 0, 0, 0) 68.57143%, rgba(100, 100, 225, 0.25) 68.57143%, rgba(100, 100, 225, 0.25) 74.28571%, rgba(0, 0, 0, 0) 74.28571%, rgba(0, 0, 0, 0) 77.14286%, rgba(100, 100, 225, 0.25) 77.14286%, rgba(100, 100, 225, 0.25) 82.85714%, rgba(0, 0, 0, 0) 82.85714%, rgba(0, 0, 0, 0) 85.71429%, rgba(100, 100, 225, 0.25) 85.71429%, rgba(100, 100, 225, 0.25) 91.42857%, rgba(0, 0, 0, 0) 91.42857%, rgba(0, 0, 0, 0) 94.28571%, rgba(100, 100, 225, 0.25) 94.28571%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.71429%, rgba(0, 0, 0, 0) 5.71429%, rgba(0, 0, 0, 0) 8.57143%, rgba(100, 100, 225, 0.25) 8.57143%, rgba(100, 100, 225, 0.25) 14.28571%, rgba(0, 0, 0, 0) 14.28571%, rgba(0, 0, 0, 0) 17.14286%, rgba(100, 100, 225, 0.25) 17.14286%, rgba(100, 100, 225, 0.25) 22.85714%, rgba(0, 0, 0, 0) 22.85714%, rgba(0, 0, 0, 0) 25.71429%, rgba(100, 100, 225, 0.25) 25.71429%, rgba(100, 100, 225, 0.25) 31.42857%, rgba(0, 0, 0, 0) 31.42857%, rgba(0, 0, 0, 0) 34.28571%, rgba(100, 100, 225, 0.25) 34.28571%, rgba(100, 100, 225, 0.25) 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 42.85714%, rgba(100, 100, 225, 0.25) 42.85714%, rgba(100, 100, 225, 0.25) 48.57143%, rgba(0, 0, 0, 0) 48.57143%, rgba(0, 0, 0, 0) 51.42857%, rgba(100, 100, 225, 0.25) 51.42857%, rgba(100, 100, 225, 0.25) 57.14286%, rgba(0, 0, 0, 0) 57.14286%, rgba(0, 0, 0, 0) 60%, rgba(100, 100, 225, 0.25) 60%, rgba(100, 100, 225, 0.25) 65.71429%, rgba(0, 0, 0, 0) 65.71429%, rgba(0, 0, 0, 0) 68.57143%, rgba(100, 100, 225, 0.25) 68.57143%, rgba(100, 100, 225, 0.25) 74.28571%, rgba(0, 0, 0, 0) 74.28571%, rgba(0, 0, 0, 0) 77.14286%, rgba(100, 100, 225, 0.25) 77.14286%, rgba(100, 100, 225, 0.25) 82.85714%, rgba(0, 0, 0, 0) 82.85714%, rgba(0, 0, 0, 0) 85.71429%, rgba(100, 100, 225, 0.25) 85.71429%, rgba(100, 100, 225, 0.25) 91.42857%, rgba(0, 0, 0, 0) 91.42857%, rgba(0, 0, 0, 0) 94.28571%, rgba(100, 100, 225, 0.25) 94.28571%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
@media (min-width: 20.5625em) {
  /* line 22, /Users/hholz/coding/ruby/octopress/sass/_grid-geometry.scss */
  body > div {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 38, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  body > div:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 22, /Users/hholz/coding/ruby/octopress/sass/_grid-geometry.scss */
  body > div {
    width: auto;
  }
}
@media (min-width: 52.5em) {
  /* line 22, /Users/hholz/coding/ruby/octopress/sass/_grid-geometry.scss */
  body > div {
    width: auto;
  }
}

@media (min-width: 52.5em) {
  /* line 61, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 1.3125em;
  }
}
/* line 17, /Users/hholz/coding/ruby/octopress/sass/_core-colors.scss */
html {
  background-color: #f1f1f1;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/resources/_fonts.scss */
.sans, .main, body, .primary-navigation, .aside, body aside, .aside-base {
  font-family: Ubuntu, Trebuchet MS, Arial, sans-serif;
}

/* line 2, /Users/hholz/coding/ruby/octopress/sass/resources/_fonts.scss */
.serif, .header, body header, body header h1, body header h2, body header h3, body header h4, body header h5, body header h6, body code header, body tt header, body samp header, body aside header {
  font-family: Quando, Georgia, Times, Times New Roman, serif;
}

/* line 3, /Users/hholz/coding/ruby/octopress/sass/resources/_fonts.scss */
.mono, .code, body pre, body pre header, body code, body tt, body samp {
  font-family: Electrolize, Menlo, Monaco, lucida console, Courier New, monospace;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_branding.scss */
body > div > header {
  background: #1d2f2b;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
body > div > header {
  margin: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 20.5625em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header {
    padding-left: 2.12766%;
    padding-right: 2.12766%;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header {
    padding-left: 2.8169%;
    padding-right: 2.8169%;
  }
  /* line 17, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header > hgroup {
    width: 57.74648%;
    float: left;
    margin-right: 1.40845%;
    margiin-right: 0;
  }
  /* line 21, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header .follow-menu {
    width: 36.61972%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 52.5em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header {
    padding-left: 2.24719%;
    padding-right: 2.24719%;
  }
  /* line 34, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header > hgroup {
    width: 56.17978%;
    float: left;
    margin-right: 1.1236%;
  }
  /* line 37, /Users/hholz/coding/ruby/octopress/sass/branding/_branding-layout.scss */
  body > div > header .follow-menu {
    width: 32.58427%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/branding/_hgroup.scss */
hgroup {
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
}
/* line 5, /Users/hholz/coding/ruby/octopress/sass/branding/_hgroup.scss */
hgroup h1, hgroup h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
/* line 10, /Users/hholz/coding/ruby/octopress/sass/branding/_hgroup.scss */
hgroup h1 a, hgroup h1 a:visited, hgroup h1 a:hover {
  color: #f2f2f2;
}
/* line 12, /Users/hholz/coding/ruby/octopress/sass/branding/_hgroup.scss */
hgroup h2 {
  color: #c0d8d2;
  font-size: 1.2em;
  line-height: 1.25em;
}

/* line 5, /Users/hholz/coding/ruby/octopress/sass/branding/_follow-menu.scss */
.follow-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  white-space: nowrap;
  display: inline;
  float: right;
}
/* line 60, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.follow-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.follow-menu ul li:first-child, .follow-menu ul li.first {
  padding-left: 0;
}
/* line 49, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.follow-menu ul li:last-child {
  padding-right: 0;
}
/* line 50, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.follow-menu ul li.last {
  padding-right: 0;
}

/* line 16, /Users/hholz/coding/ruby/octopress/sass/branding/_follow-menu.scss */
.follow-button img, li.delicious-follow img,
li.github-follow img,
li.googleplus-follow img,
li.rss-follow img {
  background-color: #f1f1f1;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid #c0d8d2;
  vertical-align: middle;
}
/* line 22, /Users/hholz/coding/ruby/octopress/sass/branding/_follow-menu.scss */
.follow-button img a, li.delicious-follow img a,
li.github-follow img a,
li.googleplus-follow img a,
li.rss-follow img a {
  text-decoration: none;
  margin: 0 .2em;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
.primary-navigation {
  margin: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 20.5625em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation {
    padding-left: 2.12766%;
    padding-right: 2.12766%;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation {
    padding-left: 2.8169%;
    padding-right: 2.8169%;
  }
  /* line 17, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation .primary-navlist {
    width: 40.84507%;
    float: left;
    margin-right: 1.40845%;
  }
  /* line 20, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation .simple-search {
    width: 28.16901%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 52.5em) {
  /* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation {
    padding-left: 2.24719%;
  }
  /* line 30, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation .primary-navlist {
    width: 39.32584%;
    float: left;
    margin-right: 1.1236%;
  }
  /* line 33, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
  .primary-navigation .simple-search {
    width: 32.58427%;
    float: right;
    margin-right: 0;
    padding-right: 2.24719%;
  }
}

/* line 44, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
.primary-navlist ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.primary-navlist ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.primary-navlist ul li:first-child, .primary-navlist ul li.first {
  padding-left: 0;
}
/* line 49, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.primary-navlist ul li:last-child {
  padding-right: 0;
}
/* line 50, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.primary-navlist ul li.last {
  padding-right: 0;
}
/* line 48, /Users/hholz/coding/ruby/octopress/sass/nav/_nav-layout.scss */
.primary-navlist ul a:link, .primary-navlist ul a:visited, .primary-navlist ul a:active, .primary-navlist ul a:focus, .primary-navlist ul a:hover {
  padding: 0.2em 0.5em;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_primary-navigation.scss */
.primary-navigation {
  font-size: 0.95em;
  line-height: 1.57895em;
  background-color: #5d887e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #709d93), color-stop(50%, #5d887e), color-stop(100%, #46675f));
  background-image: -webkit-linear-gradient(#709d93, #5d887e, #46675f);
  background-image: -moz-linear-gradient(#709d93, #5d887e, #46675f);
  background-image: -o-linear-gradient(#709d93, #5d887e, #46675f);
  background-image: linear-gradient(#709d93, #5d887e, #46675f);
  border-top-color: #86aca3;
  border-bottom-color: #293c38;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 6px;
}

/* line 3, /Users/hholz/coding/ruby/octopress/sass/nav/_primary-navlist.scss */
.primary-navlist li {
  margin: 0;
}
/* line 6, /Users/hholz/coding/ruby/octopress/sass/nav/_primary-navlist.scss */
.primary-navlist li a {
  text-decoration: none;
  font-weight: bold;
  text-shadow: #7da69d 0 1px;
  color: black;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.primary-navlist li a:visited {
  color: black;
}
/* line 21, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.primary-navlist li a:focus {
  color: #f2f2f2;
}
/* line 24, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.primary-navlist li a:hover {
  color: #f2f2f2;
}
/* line 27, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.primary-navlist li a:active {
  color: #f2f2f2;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/nav/_simple-search.scss */
.simple-search form {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 7, /Users/hholz/coding/ruby/octopress/sass/nav/_simple-search.scss */
.simple-search form fieldset {
  width: 95%;
  border: none;
  margin: 0;
  padding: 0;
}
/* line 13, /Users/hholz/coding/ruby/octopress/sass/nav/_simple-search.scss */
.simple-search form fieldset .search {
  width: 99%;
  color: #565c5b;
  background-color: #86aca3;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 5px #618e84;
  -moz-box-shadow: 0 1px 5px #618e84;
  box-shadow: 0 1px 5px #618e84;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: .2em .5em;
  border: 1px solid #486a62;
}
/* line 26, /Users/hholz/coding/ruby/octopress/sass/nav/_simple-search.scss */
.simple-search form fieldset .search:focus {
  color: black;
  background-color: #c2d5d1;
  -webkit-box-shadow: 0 0 4px #e2e8e7, inset 0 0 3px #e2e8e7;
  -moz-box-shadow: 0 0 4px #e2e8e7, inset 0 0 3px #e2e8e7;
  box-shadow: 0 0 4px #e2e8e7, inset 0 0 3px #e2e8e7;
  outline: none;
}

/* line 40, /Users/hholz/coding/ruby/octopress/sass/nav/_simple-search.scss */
.no-placeholder .simple-search .search {
  background: #86aca3 url('/images/search.png?1346475000') 0.3em 0.25em no-repeat;
  text-indent: 1.3em;
}

/* line 4, /Users/hholz/coding/ruby/octopress/sass/content/_content.scss */
.content {
  color: #222222;
  background-color: #f1f1f1;
}
/* line 8, /Users/hholz/coding/ruby/octopress/sass/content/_content.scss */
.content a {
  color: #219cba;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #219cba;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content a:visited {
  color: #527e89;
}
/* line 21, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content a:focus {
  color: #55d2f1;
}
/* line 24, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content a:hover {
  color: #55d2f1;
}
/* line 27, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.content a:active {
  color: #55d2f1;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/content/_content-layout.scss */
.main-content {
  margin: 0;
  padding: 0;
}

/* line 6, /Users/hholz/coding/ruby/octopress/sass/content/_content-layout.scss */
.content {
  margin: 0;
}
@media (min-width: 20.5625em) {
  /* line 6, /Users/hholz/coding/ruby/octopress/sass/content/_content-layout.scss */
  .content {
    overflow: hidden;
    padding: 2.12766%;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 6, /Users/hholz/coding/ruby/octopress/sass/content/_content-layout.scss */
  .content {
    padding: 2.8169%;
    overflow: hidden;
  }
}
@media (min-width: 52.5em) {
  /* line 6, /Users/hholz/coding/ruby/octopress/sass/content/_content-layout.scss */
  .content {
    padding-left: 2.24719%;
    padding-right: 1.1236%;
    height: 100%;
    width: 66.29213%;
    float: left;
    margin-right: 1.1236%;
    margin-right: 0;
  }
}

/* line 3, /Users/hholz/coding/ruby/octopress/sass/content/_article-excerpt.scss */
article.excerpt > header > h1 {
  color: #222222;
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 6, /Users/hholz/coding/ruby/octopress/sass/content/_article-excerpt.scss */
article.excerpt > header > h1 a, article.excerpt > header > h1 a:hover {
  color: #55d2f1;
}
/* line 9, /Users/hholz/coding/ruby/octopress/sass/content/_article-excerpt.scss */
article.excerpt a[rel=full-article] {
  display: inline-block;
  font-size: 0.85em;
  line-height: 1.76471em;
  border-left-style: none;
  border-left-width: 0;
  padding-left: 31px;
}
/* line 15, /Users/hholz/coding/ruby/octopress/sass/content/_article-excerpt.scss */
article.excerpt > footer a:hover {
  color: #55d2f1;
}

/* line 2, /Users/hholz/coding/ruby/octopress/sass/content/_article-header.scss */
article header a {
  color: #414b48;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article header a:visited {
  color: #414b48;
}
/* line 21, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article header a:focus {
  color: #527e89;
}
/* line 24, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article header a:hover {
  color: #527e89;
}
/* line 27, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
article header a:active {
  color: #527e89;
}
/* line 9, /Users/hholz/coding/ruby/octopress/sass/content/_article-header.scss */
article header time {
  text-transform: uppercase;
}

/* line 2, /Users/hholz/coding/ruby/octopress/sass/content/_page-nav.scss */
.page-nav a[rel=prev] {
  display: inline;
  float: left;
}
/* line 3, /Users/hholz/coding/ruby/octopress/sass/content/_page-nav.scss */
.page-nav a[rel=next] {
  display: inline;
  float: right;
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/content/_pubdate.scss */
.pubdate, .pubdate time, .pubdate time .month, .pubdate time .day {
  display: inline-block;
}

/* line 4, /Users/hholz/coding/ruby/octopress/sass/content/_pubdate.scss */
.pubdate {
  font-size: 0.9em;
  line-height: 1.66667em;
  color: #363636;
}
/* line 9, /Users/hholz/coding/ruby/octopress/sass/content/_pubdate.scss */
.pubdate time {
  text-transform: uppercase;
}

/* line 5, /Users/hholz/coding/ruby/octopress/sass/content/_sharing-menu.scss */
.sharing-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  white-space: nowrap;
}
/* line 60, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.sharing-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.sharing-menu ul li:first-child, .sharing-menu ul li.first {
  padding-left: 0;
}
/* line 49, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.sharing-menu ul li:last-child {
  padding-right: 0;
}
/* line 50, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.sharing-menu ul li.last {
  padding-right: 0;
}
/* line 10, /Users/hholz/coding/ruby/octopress/sass/content/_sharing-menu.scss */
.sharing-menu ul a:link, .sharing-menu ul a:visited, .sharing-menu ul a:active, .sharing-menu ul a:focus, .sharing-menu ul a:hover {
  padding: 0.2em 0.5em;
}

/* non highlighted code colors */
/* line 9, /Users/hholz/coding/ruby/octopress/sass/aside/_aside-base.scss */
.aside-base {
  color: #414b48;
  text-shadow: #e8eeec 0 1px;
  background-color: #d1dcd9;
  border-color: #c3c7c6;
}
/* line 21, /Users/hholz/coding/ruby/octopress/sass/aside/_aside-base.scss */
.aside-base aside h1 {
  font-size: 1.35em;
  line-height: 1.66667em;
  margin: 0;
  padding: 0;
}
/* line 28, /Users/hholz/coding/ruby/octopress/sass/aside/_aside-base.scss */
.aside-base aside ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}
/* line 33, /Users/hholz/coding/ruby/octopress/sass/aside/_aside-base.scss */
.aside-base aside ul li {
  margin: 0;
  padding: 0;
}
/* line 36, /Users/hholz/coding/ruby/octopress/sass/aside/_aside-base.scss */
.aside-base aside ul li a {
  font-size: 0.9em;
  line-height: 1.66667em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  color: #527e89;
  color: #527e89;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.aside-base aside ul li a:visited {
  color: #527e89;
}
/* line 21, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.aside-base aside ul li a:focus {
  color: #219cba;
}
/* line 24, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.aside-base aside ul li a:hover {
  color: #219cba;
}
/* line 27, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.aside-base aside ul li a:active {
  color: #219cba;
}

/* line 3, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
.default-aside {
  position: relative;
  display: block;
  margin: 0;
}
/* line 8, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
.default-aside aside {
  margin: 0;
}
@media (min-width: 20.5625em) {
  /* line 3, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside {
    overflow: hidden;
    padding: 2.12766%;
    border-top: 1px solid #c3c7c6;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 3, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside {
    padding: 1.40845% 2.8169%;
  }
  /* line 21, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside .recent-posts {
    width: 28.16901%;
    float: left;
    margin-right: 1.40845%;
    padding-right: 1.40845%;
    margin-right: 0;
  }
  /* line 26, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside .delicious {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
    padding-right: 1.40845%;
    margin-right: 0;
  }
  /* line 31, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside .github {
    width: 32.39437%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 52.5em) {
  /* line 3, /Users/hholz/coding/ruby/octopress/sass/aside/_default-aside.scss */
  .default-aside {
    padding-left: 1.1236%;
    padding-right: 2.24719%;
    width: 25.8427%;
    float: right;
    margin-right: 0;
    border-left: 1px solid #c3c7c6;
  }
}

/* line 10, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#grid {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -2.5em;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#grid #site-credits {
  height: 2.5em;
}

/* line 20, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#contentinfo {
  clear: both;
  position: relative;
  height: 2.5em;
}

/* line 5, /Users/hholz/coding/ruby/octopress/sass/credits/_credits-layout.scss */
footer.credits {
  overflow: hidden;
  *zoom: 1;
  padding-top: 1em;
}
@media (min-width: 20.5625em) {
  /* line 5, /Users/hholz/coding/ruby/octopress/sass/credits/_credits-layout.scss */
  footer.credits {
    padding-left: 4.25532%;
    padding-right: 4.25532%;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 5, /Users/hholz/coding/ruby/octopress/sass/credits/_credits-layout.scss */
  footer.credits {
    padding-left: 2.8169%;
    padding-right: 2.8169%;
  }
}
@media (min-width: 52.5em) {
  /* line 28, /Users/hholz/coding/ruby/octopress/sass/credits/_credits-layout.scss */
  footer.credits padding {
    left: 2.24719%;
    right: 2.24719%;
  }
}

/* line 1, /Users/hholz/coding/ruby/octopress/sass/credits/_footer.scss */
footer.credits {
  color: #f2f2f2;
  background-color: #485f5a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #303f3c), color-stop(50%, #485f5a), color-stop(100%, #5a7770));
  background-image: -webkit-linear-gradient(#303f3c, #485f5a, #5a7770);
  background-image: -moz-linear-gradient(#303f3c, #485f5a, #5a7770);
  background-image: -o-linear-gradient(#303f3c, #485f5a, #5a7770);
  background-image: linear-gradient(#303f3c, #485f5a, #5a7770);
  text-shadow: #536e68 0 1px;
  border-top: 1px solid #698b83;
  border-bottom: 1px solid #273431;
}
/* line 16, /Users/hholz/coding/ruby/octopress/sass/credits/_footer.scss */
footer.credits a {
  color: #f2f2f2;
}
/* line 18, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer.credits a:visited {
  color: #f2f2f2;
}
/* line 21, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer.credits a:focus {
  color: #a5a5a5;
}
/* line 24, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer.credits a:hover {
  color: #a5a5a5;
}
/* line 27, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer.credits a:active {
  color: #a5a5a5;
}
