$aside-bg     : #d1dcd9;
$aside-color  : change-color(mix($text-color, $aside-bg, 80), 
                             $hue: hue($aside-bg), 
                             $saturation: saturation($aside-bg)/2);
$aside-border : desaturate(darken($aside-bg, 7), 10);

$aside-link-color       : $link-color-visited;
$aside-link-color-hover : $link-color;

$aside-font-size : .9*$base-font-size;
$aside-lines     : lines-for-font-size($aside-font-size);

.default-aside, .index-aside {

  @extend .aside; 

  color            : $aside-color;
  background-color : $aside-bg;
  border-color     : $aside-border;
  text-shadow      : lighten($aside-bg, 8) 0 1px;

//  @include leading-border(1px, $aside-lines, 1em, solid);
  @include adjust-font-size-to($aside-font-size);

  @include at-breakpoint($aside-right-layout) {
    border-left : 1px solid $aside-border;  
  } 

  aside { 

    h1 { 
      margin  : 0;
      padding : .5em 0;
    }

    a {
      @include force-wrap;
      color : $aside-link-color;
      @include link-colors($aside-link-color, 
                           $aside-link-color-hover, 
                           $aside-link-color-hover, 
                           $aside-link-color,
                           $aside-link-color-hover);
    } // a

    ul { 
      list-style : none;
      margin     : 0 0 0 1em;
      padding    : 0;

      li { 
        margin  : 0;
        padding : 0;
      }
    }

  } // aside
}

