// begin suggested customization of solarized
//

//$solarized: dark;

// code markers
$marker             : rgba(#00baff, .5);
$marker-bg          : rgba($marker, .03);
$marker-border      : rgba($marker, .13);
$marker-border-left : $marker;

// fine control
$base03        : #002b36; //darkest blue
$base02        : #073642; //dark blue
$base01        : #586e75; //darkest gray
$base00        : #657b83; //dark gray
$base0         : #839496; //medium gray
$base1         : #93a1a1; //medium light gray
$base2         : #eee8d5; //cream
$base3         : #fdf6e3; //white
$solar-yellow  : #b58900;
$solar-orange  : #cb4b16;
$solar-red     : #dc322f;
$solar-magenta : #d33682;
$solar-violet  : #6c71c4;
$solar-blue    : #268bd2;
$solar-cyan    : #2aa198;
$solar-green   : #859900;

// end suggested customization of solarized

$link-color         : #219cba;
$link-color-visited : #527e89;
$link-color-hover   : #55d2f1;

$header-bg      : #1d2f2b;
$content-bg     : #f8f8f8;
$page-bg        : desaturate($header-bg, 10);
$aside-bg       : #d1dcd9;
$nav-bg         : desaturate(lighten($header-bg, 30), 5);
$footer-bg      : desaturate(lighten($header-bg, 18), 10);

// colors
$text-color         : #222;
$text-color-light   : lighten($text-color, 8);
$type-border        : lighten($text-color, 11);

$title-color        : #f2f2f2;
$subtitle-color     : lighten($header-bg, 65);
$nav-placeholder    : $title-color;
$aside-color        : change-color(mix($text-color, $aside-bg, 80), 
                                   $hue: hue($aside-bg), 
                                   $saturation: saturation($aside-bg)/2);

$nav-color          : darken($nav-bg, 55);
$nav-color-hover    : $title-color;
$footer-color       : $title-color;
$footer-color-hover : darken($footer-color, 10);

$article-border     : #eeeeee;
$header-border      : lighten($header-bg, 15);
$page-border-bottom : darken($footer-bg, 5);

$nav-bg-front      : image-url('noise.png');
$nav-bg-back       : linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));

$nav-border        : darken($nav-bg, 10);
$nav-border-top    : lighten($nav-bg, 15);
$nav-border-bottom : darken($nav-bg, 25);
$nav-border-left   : darken($nav-bg, 11);
$nav-border-right  : lighten($nav-bg, 7);

$aside-link-color        : $link-color-visited;
$aside-link-color-hover  : $link-color;

$aside-border       : desaturate(darken($aside-bg, 7), 10);
$aside-border-hover : darken($aside-bg, 7);

$aside-link-color-subdued : #527e89;

$footer-bg-front      : image-url('noise.png');
$footer-bg-back       : linear-gradient(lighten($footer-bg, 8), 
                                        $footer-bg, darken($footer-bg, 11));
$footer-border-top    : lighten($footer-bg, 15);
$footer-border-bottom : darken($footer-bg, 15);

$footer-link-color        : $title-color;
$footer-link-color-hover  : darken($title-color, 30);

// Sprites and images
@import "icon/*.png";
@include all-icon-sprites($dimensions: true);

$noise-bg   : image-url('noise.png') top left;
$img-border : inline-image('dotted-border.png');

// Core theme application
a {
  color : $link-color;
  @include transition(color .3s);
  @include link-colors($link-color,            // normal
                       $link-color-hover,      // hover
                       $link-color-hover,      // active
                       $link-color-visited,    // visited
                       $link-color-hover);     // focus
}

html { background : $page-bg image-url('line-tile.png') top left; }

#main-content > aside {
  color         : $aside-color;
  text-shadow   : lighten($aside-bg, 8) 0 1px;
  background    : $aside-bg $noise-bg;
  border-top    : 1px solid $aside-border;
  a {
    @include force-wrap;
    color : $aside-link-color;
    @include link-colors($aside-link-color, 
                         $aside-link-color-hover, 
                         $aside-link-color-hover, 
                         $aside-link-color,
                         $aside-link-color-hover);
  }
  &:hover p a, &:hover li a {
    color : $aside-link-color;
    &:hover { color : $aside-link-color-hover; }
  }
}

#main-content {
  color         : $text-color;
  background    : $content-bg $noise-bg;
  border-bottom : 1px solid $page-border-bottom;

  @include at-breakpoint($fullsize-layout) {
    > article, section { border-right : 1px solid $aside-border; }
  }
}

#sticky-footer {
  @include background($footer-bg-front, $footer-bg-back);
  @include border-bottom-radius(.4em);
  color            : $footer-color;
  background-color : $footer-bg;
  text-shadow      : lighten($footer-bg, 5) 0 1px;
  border-top       : 1px solid $footer-border-top;
  a {
    @include link-colors($footer-link-color, 
                         $footer-link-color-hover, 
                         $footer-link-color-hover,
                         $footer-link-color,
                         $footer-link-color-hover);
  }
}

#grid header a {
  @include link-colors($aside-color,
                       $link-color-visited,
                       $link-color-visited,
                       $aside-color,
                       $link-color-visited);
}

#blog-index article.excerpt {
#blog-archives article.excerpt {
  > header > h1 { 
    color: $text-color;
    a, a:hover { color: $link-color-hover; }
  }
  > footer {
    time { color: $text-color-light; }
    a:hover { color: $link-color-hover; }
}

#primary-navigation {
  color            : $nav-color;
  background-color : $nav-bg;
  @include background($nav-bg-front, $nav-bg-back);
  border : {
    top    : 1px solid $nav-border-top;
    bottom : 1px solid $nav-border-bottom;
  }
  nav a {
    @include link-colors($nav-color,
                         $nav-color-hover,
                         $nav-color-hover,
                         $nav-color,
                         $nav-color-hover);
  }
}

.no-placeholder {
  #primary-navigation .search {
    background: lighten($nav-bg, 15) image-url('search.png') .3em .25em no-repeat;
  }
}

