// begin suggested customization of solarized
//
// stuff I shouldn't need:
//        #blog-archives &[data-linklog] .title a { text-decoration: none; }
//        &.linklog .title a { text-decoration: none; }


//$solarized: dark;

// code markers
$marker             : rgba(#00baff, .5);
$marker-bg          : rgba($marker, .03);
$marker-border      : rgba($marker, .13);
$marker-border-left : $marker;

// fine control
$base03        : #002b36; //darkest blue
$base02        : #073642; //dark blue
$base01        : #586e75; //darkest gray
$base00        : #657b83; //dark gray
$base0         : #839496; //medium gray
$base1         : #93a1a1; //medium light gray
$base2         : #eee8d5; //cream
$base3         : #fdf6e3; //white
$solar-yellow  : #b58900;
$solar-orange  : #cb4b16;
$solar-red     : #dc322f;
$solar-magenta : #d33682;
$solar-violet  : #6c71c4;
$solar-blue    : #268bd2;
$solar-cyan    : #2aa198;
$solar-green   : #859900;

// end suggested customization of solarized

$link-color         : #219cba;
$link-color-visited : #527e89;
$link-color-hover   : #55d2f1;
$link-color-active  : $link-color-hover;
$link-color-focus   : $link-color-hover;

$header-bg      : #1d2f2b;
$content-bg     : #f8f8f8;
$page-bg        : desaturate($header-bg, 10);
$sidebar-bg     : #d1dcd9;
$nav-bg         : desaturate(lighten($header-bg, 30), 5);
$footer-bg      : desaturate(lighten($header-bg, 18), 10);

// colors
$text-color         : #222;
$text-color-light   : lighten($text-color, 8);
$type-border        : lighten($text-color, 11);

$title-color        : #f2f2f2;
$subtitle-color     : lighten($header-bg, 65);
$nav-placeholder    : $title-color;
$sidebar-color      : change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2);

$nav-color          : darken($nav-bg, 55);
$nav-color-hover    : $title-color;
$footer-color       : $title-color;
$footer-color-hover : darken($footer-color, 10);

$article-border     : #eeeeee;
$header-border      : lighten($header-bg, 15);
$page-border-bottom : darken($footer-bg, 5);

$nav-bg-front    : image-url('noise.png');
$nav-bg-back     : linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));

$nav-border        : darken($nav-bg, 10);
$nav-border-top    : lighten($nav-bg, 15);
$nav-border-bottom : darken($nav-bg, 25);
$nav-border-left   : darken($nav-bg, 11);
$nav-border-right  : lighten($nav-bg, 7);

$sidebar-link-color        : $link-color-visited;
$sidebar-link-color-hover  : $link-color;
$sidebar-link-color-active : $sidebar-link-color-hover;
$sidebar-link-color-focus  : $sidebar-link-color-hover;

$sidebar-border: desaturate(darken($sidebar-bg, 7), 10);
$sidebar-border-hover: darken($sidebar-bg, 7);

$sidebar-link-color-subdued       : #527e89;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15);

$footer-bg-front      : image-url('noise.png');
$footer-bg-back       : linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));
$footer-border-top    : lighten($footer-bg, 15);
$footer-border-bottom : darken($footer-bg, 15);

$footer-link-color        : $title-color;
$footer-link-color-hover  : darken($title-color, 30);
$footer-link-color-active : $footer-link-color-hover;
$footer-link-color-focus  : $footer-link-color-hover;

// Sprites and images
@import "icon/*.png";
@include all-icon-sprites($dimensions: true);

$noise-bg   : image-url('noise.png') top left;
$img-border : inline-image('dotted-border.png');

// Core theme application
a {
  color : $link-color;
  @include transition(color .3s);
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}

html { background : $page-bg image-url('line-tile.png') top left; }

aside.sidebar {
//  background-color: lighten($sidebar-bg, 2);
  color         : $sidebar-color;
  text-shadow   : lighten($sidebar-bg, 8) 0 1px;
  background    : $sidebar-bg $noise-bg;
  border-top    : 1px solid $sidebar-border;
  a {
    @extend .force-wrap;
    color : $sidebar-link-color;
    @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-focus, $active: $sidebar-link-color-active);
  }
  &:hover p a, &:hover li a {
    color: $sidebar-link-color;
    &:hover { color: $sidebar-link-color-hover; }
  }
}

#main {
  color         : $text-color;
  background    : $content-bg $noise-bg;
  border-bottom : 1px solid $page-border-bottom;
  > section:first-child { border-right : 1px solid $sidebar-border; }
}

body > footer {
  @include background($footer-bg-front, $footer-bg-back);
  @include border-bottom-radius(.4em);
  color            : $footer-color;
  background-color : $footer-bg;
  text-shadow      : lighten($footer-bg, 5) 0 1px;
  border-top       : 1px solid $footer-border-top;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
}

blockquote cite &:before { color   : $text-color-light; }

body {
  #main {
    > section:first-child {
      article {
        #home & header h1 a { @include link-colors($sidebar-color, 
                                                   $hover : $sidebar-color, 
                                                   $focus : $sidebar-color, 
                                                   $visited : $sidebar-color, 
                                                   $active : $sidebar-color); }

        a[rel=full-article] { 
          color      : $link-color;
          background : $main-bg;
          &.hover { 
            color      : $link-color-hover; 
            background : $main-bg;
          }
        }
      }

  nav.pagination { background    : $img-border top left repeat-x; }
}

#blog-archives {
  .title {
    color: $text-color;
    a, a:hover { color: $link-color-hover; }
  }
  a.category, time { color: $text-color-light; }
  a:hover { color: $link-color-hover; }
}

