$nav-bg          : desaturate(lighten($header-bg, 30), 5);
$nav-color       : darken($nav-bg, 55);
$nav-color-hover : $title-color;
$nav-placeholder : desaturate(darken($nav-bg, 10), 15);

.primary-navigation {

  @extend .main;
  @include adjust-font-size-to(.95*$base-font-size);
  position : relative;

  background-color : $nav-bg;
  @include background-image(linear-gradient(lighten($nav-bg, 8),
                                            $nav-bg,
                                            darken($nav-bg, 11)));

  border-top-color    : lighten($nav-bg, 15);
  border-bottom-color : darken($nav-bg, 25);
  @include h-borders(1px, .35*$base-lines, 1em, solid);

} // #primary-navigation

.primary-navlist {

  li {
    margin : 0;

    a {
      text-decoration : none;
      font-weight     : bold;
      text-shadow     : lighten($nav-bg, 12) 0 1px;
      @include link-colors($nav-color,
                           $nav-color-hover,
                           $nav-color-hover,
                           $nav-color,
                           $nav-color-hover);
    } 
  }
}
