@include at-breakpoint($horizontal-aside-layout) {

  .content { @include clearfix; }
}

@include at-breakpoint($aside-right-layout) {

  .content { 

    $content-columns : 8; 
    @include span-columns($content-columns, $aside-right-columns);

  }
}

