{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head/head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="grid">
    <header role="banner">
      <hgroup>
        <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
        <h2>{{ site.subtitle }}</h2>
      </hgroup>
      {% include menus_and_navigation/follow_menu.html %}
    </header>
    <div id="primary_navigation">
      {% include sections/simple_search.html %}
      {% include menus_and_navigation/primary_navigation.html %}
    </div>
    <article id="main_content"> <!-- asides thematically related -->
      {{ content | expand_urls: root_url }}
    </article>
    <div id="sticky_footer"></div>
    {% include head/disqus.html %}
  </div>
  <footer id="contentinfo" role="contentinfo">
    copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    <span class="credit">powered by <a href="http://octopress.org">Octopress</a></span>
  </footer>
</body>
</html>
