---
layout   : default
style    : default
category :
tag      :
---
<article>
  <article role="article">
    {% if page.title %}
      <header role="header">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.date %}<p class="meta">{% include helpers/date.html %}{{ time }}</p>{% endif %}
      </header>
    {% endif %}
    {{ content }}
    {% include footers/meta_after.html %}
  </article>
  {% if page.comments == true %}{% include comments.html %}{% endif %}
</article>
{% include helpers/aside.html %}
