---
layout      : default
aside_style : default
tag         :
---
<article>
  <article role="article">
    {% if page.title %}
      <header role="header"><h1 class="title">{{ page.title }}</h1></header>
      {% include footers/dated.html with page %}
    {% endif %}
    {{ content }}
    <footer class="page_meta">
      {% include menus_and_navigation/tag_list.html with page     %}
      {% include menus_and_navigation/sharing_menu.html with page %}
    </footer>
  </article>
  {% include sections/comments.html %}
</article>
{% include helpers/aside.html %}
