---
layout      : default
aside_style : default
single      : true
---
<article>
  {% include helpers/permalink.html %}
  <article role="article" class="full-article">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <footer class="pubdate">
      {% include footers/dated.html with post %}
      <p class="bookmark">
        &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    </footer>
    <p class="tldr">{{ content | excerpt }}</p>
    {{ content | split("<!--more-->") | last }}
    {% include menus-and-navigation/tag-list.html with post     %}
    {% include menus-and-navigation/sharing-menu.html with post %}
  </article>
  {% include sections/comments.html %}
</article>
{% include helpers/aside.html %}
