---
layout      : default
aside_style : default
single      : true
---
<article>
  {% capture permalink %}{{ root_url }}{{ post.url }}{% endcapture %}
  {% include helpers/linklog.html %}
  <article {% if linklog %}class="linklog"{% endif %} role="article">
    <header>
      <h1 class="title">
        {% if linklog %}
          <a href="{{ title_url }}">{{ page.title }}</a>
          {% if site.linklog_marker and site.linklog_marker_position == 'after' %}
            {{ linklog_marker }}
          {% endif %}
        {% else %}
          {{ site.standard_post_marker }}{{ page.title }}
        {% endif %}
      </h1>
      <p class="meta">
        {% include helpers/date.html %}{{ time }}
        &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    </header>
    <article class="content">
      <header id="tldr">{{ content | excerpt }}</header>
      {{ content | split("<!--more-->") | last }}
      {% include footers/meta_after.html %}
    </article>
  </article>
  {% if page.comments == true %}{% include sections/comments.html %}{% endif %}
</article>
{% include helpers/aside.html %}
