---
layout: default
single: true
---
<section>
  {% capture permalink %}{{ root_url }}{{ post.url }}{% endcapture %}
  {% include helpers/linklog.html %}
  <article {% if linklog %}class="linklog"{% endif %} role="article">
    <header>
      <h1 class="title">
        {% if linklog %}
          <a href="{{ title_url }}">{{ page.title }}</a>
          {% if site.linklog_marker and site.linklog_marker_position == 'after' %}
            {{ linklog_marker }}
          {% endif %}
        {% else %}
          {{ site.standard_post_marker }}{{ page.title }}
        {% endif %}
      </h1>
      <p class="meta">
        {% include helpers/date.html %}{{ time }}
        &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    </header>
    <section class="content">
      <header id="tldr">{{ content | excerpt }}</header>
      {{ content | split("<!--more-->") | last }}
      <footer>
        <p class="meta">
          {% include helpers/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
          {% include helpers/categories.html %}
        </p>
        {% unless page.sharing == false %}{% include sharing.html %}{% endunless %}
      </footer>
    </section>
    <nav class="pagination" role="navigation">
      {% if page.previous.url %}
      <a class="basic-alignment left" 
         href="{{page.previous.url}}" 
         title="previous: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="basic-alignment right" 
         href="{{page.next.url}}" 
         title="next: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </nav>
  </article>
  {% if page.comments == true %}{% include comments.html %}{% endif %}
</section>
{% include_sidebar site.default_sidebar %}
