---
layout      : default
aside_style : index
body_id     : tag-index
---
<article role="article">
  <header role="header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  <footer class="pubdate">{% include footers/dated.html with page %}</footer>
  {% include menus-and-navigation/sharing-menu.html with page %}
  <ul>
    {% for post in site.tags[page.tag] %}
      <li>
        {% include helpers/index-year.html %}
        {% include articles/excerpt-entry.html %}
      </li>
    {% endfor %}
  </ul>
</article>
{% include helpers/aside.html %}
