---
layout      : default
aside_style : index
body_id     : tag-index
---
{% include helpers/pubdates.html %}
{% include helpers/permalink.html %}
<article class="content" role="article">
  <header role="header">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ date_published }}{{ date_modified }}
    {% include menus_and_navigation/sharing_menu.html %}
  </header>
  <ul>
    {% for post in site.tags[page.tag] %}
      <li>
        {% include snippets/index_year.html     %}
        {% include articles/excerpt_entry.html %}
      </li>
    {% endfor %}
  </ul>
</article>
{% include helpers/aside.html %}
