$text-color-light : lighten($text-color, 8);
$type-border      : lighten($text-color, 11);

.content {
  color            : $text-color;
  background-color : $content-bg;

  a {
    color : $link-color;
    @include transition(color .3s);
    @include link-colors($link-color,            // normal
                         $link-color-hover,      // hover
                         $link-color-hover,      // active
                         $link-color-visited,    // visited
                         $link-color-hover);     // focus
  }
}

@import 'content-layout';
@import 'date-published';
@import 'permalink';

@import 'page-title';
@import 'tag-links';

@import 'article-excerpt';
@import 'page-nav';
@import 'sharing-menu';
@import 'solarized';

// site index page
@import 'index';

@import 'article-header';
