.main-content { // a container that creates structure
  margin  : 0;
  padding : 0;
}

.content { 

  margin  : 0;
  @include span-columns($vertical-layout-columns - 2 omega, 
                        $vertical-layout-columns);

  @include at-breakpoint($horizontal-aside-layout) { 
    @include span-columns(22 omega, $horizontal-aside-columns); 
  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    padding-left  : columns(1, $aside-right-columns); 
    padding-right : gutter($aside-right-columns); 

    @include span-columns(20, $aside-right-columns);
    margin        : 0;

  } // $aside-right-layout

} // .content
