h1.page-title { 
  margin : 0;

  a { @include link-colors($aside-color,
                           $hover: $aside-link-color,
                           $active: $aside-link-color,
                           $visited: $aside-color);
  }

}

