menu[label=share] { 

  @include horizontal-list(.2em, right);

  &:after { 
    content       : "share";
    color         : $date-color;
    display       : inline;
    float         : right;
    margin        : 0;
    padding-top   : .2em;
    padding-right : .6em;
  }
}

.share-button {
  margin : 0;

  img {
    background-color : $content-bg;
    border           : 2px groove lighten($date-color, 30);
    padding          : 4px;
    vertical-align   : middle;

    @include border-radius(.4em);
  } // img

} // .share-button

li.twitter-share,
li.googleplus-share,
li.facebook-share {
  @extend .share-button;
}
