#tag-index {

  .main-content > .content {

    .page-title { margin-bottom : .2em; }

    > ul { 

      margin          : 0;
      padding         : 0;
      list-style-type : none;
      > li { 

        margin  : 0 0 1.2em;
        > article { 

          > header {
            > h1 { padding-left : 1em; }
          } // > header

          > p { margin : .3em 0 0 2em; }

        } // > article
      } // li
    } // > ul

    > footer { 

      @extend .nav;
      text-align : center;
      a { text-decoration : none; }

    } // > footer
  } // .main-content > .content
} // #blog-index