.main-content { 

  margin  : 0; 
  padding : 0;
  @include clearfix; 

  background-color : $aside-bg;

  @include at-breakpoint($aside-right-layout) { background-color : $content-bg; }
}

html { 
  background-color : $aside-bg; 

  @include at-breakpoint($aside-right-layout) { background-color : $content-bg; }
}
