article.excerpt {

  > header > h1 { 
    margin : 0;
    color  : $text-color;
    @include adjust-font-size-to(1.8*$base-font-size); 
    a { @include link-colors($article-title-link-color,
                             $hover   : $article-title-link-hover-color,
                             $active  : $article-title-link-hover-color,
                             $visited : $article-title-link-color);
      }
  }

  a[rel=full-article] { 
    @extend .nav;
    @include adjust-font-size-to(.85*$base-font-size); 
    font-weight  : normal;
    display      : inline-block;
    padding-left : .3em;
  }

}

