#blog-archives {

  .main-content > .content {

    > ul { 

      margin          : 0;
      padding         : 0;
      list-style-type : none;
      > li { 

        > h2 {
          @extend .header;
          display : block;
          @include float-left;
          color   : $date-color;
          margin  : .2em 0 0;
        }

        margin  : 0 0 1.2em;

        > article { 

          margin : 0 0 0 6em;
          > h1 { margin  : 0; padding : 0; }

          > .tag-links { padding-left : .3em; }

        } // > article
      } // li
    } // > ul

  } // .main-content > .content
} // #blog-index