.content { 

  margin  : 0;
  padding : $vertical-layout-gutter; 

  @include at-breakpoint($vertical-layout) { @include clearfix; }

  @include at-breakpoint($horizontal-aside-layout) { 
    @include clearfix;
    padding : $horizontal-aside-single;

  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    @include span-columns(20, $aside-right-columns); 
    margin-right : 0;
    padding      : $aside-right-single;

  } // $aside-right-layout

} // .content
