{% capture date %}{{ page.date }}{{ post.date }}{% endcapture %}
{% capture date_formatted %}{{ page.date_formatted }}{{ post.date_formatted }}{% endcapture %}
{% capture has_date %}{{ date | size }}{% endcapture %}

{% capture updated %}{{ page.updated }}{{ post.updated }}{% endcapture %}
{% capture updated_formatted %}{{ page.updated_formatted }}{{ post.updated_formatted }}{% endcapture %}
{% capture was_updated %}{{ updated | size }}{% endcapture %}

{% if has_date %}
  {% capture created_at %}created <time datetime="{{ date | datetime | date_to_xmlschema }}" pubdate {% if was_updated %}data-updated="true"{% endif %}>{{ date_formatted }}</time>{% endcapture %}
{% endif %}

{% if was_updated %}
  {% capture last_updated %}last updated <time datetime="{{ updated | datetime | date_to_xmlschema }}" class="updated">{{ updated_formatted }}</time>{% endcapture %}
{% endif %}

{% if has_date or was_updated %}
  <span class="pubdate">{{ created_at }}{ last_updated }}</span>
{% endif %}
