.banner {

  margin : 0;
  @include clearfix; 
  padding : $vertical-layout-gutter;

  @include at-breakpoint($horizontal-aside-layout) {

    padding : 0 $horizontal-aside-single;

    > hgroup     { 

      @include span-columns(14, $horizontal-aside-columns); 
      margiin-right : 0;
      padding : { 
        top    : $horizontal-aside-single;
        bottom : $horizontal-aside-gutter;
      }
    } // > hgroup

    menu[label=follow] {

      @include span-columns(9 omega, $horizontal-aside-columns); 
      padding-top : 0;

    } // menu[label=follow]

  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    padding : 0 $aside-right-single;

    > hgroup { 

      @include span-columns(17, $aside-right-columns); 
      margiin-right : 0;
      padding : { 
        top    : $aside-right-single;
        bottom : $aside-right-gutter;
      }
    } // > hgroup

    menu[label=follow] { 

      @include span-columns(10 omega, $aside-right-columns); 
      padding-top : 0;

    } // menu[label=follow]
 
  } // $aside-right-layout

} // .banner
