// follow-menu self-contained to make it easy to move around

.follow-menu { 

  ul {
    @include horizontal-list;
    @include nowrap;
    @include float-right;
  } // ul
}// menu

$hover-color : lighten($header-bg, 5);

.follow-button {

  img {
    background-color : $content-bg;
    @include border-radius(.3em);
    border           : 1px solid $subtitle-color;
    vertical-align : middle;

    a { 
      text-decoration : none; 
      margin : 0 .2em;
    }
  }

}

li.delicious-follow,
li.github-follow,
li.googleplus-follow,
li.rss-follow { 
  @extend .follow-button; 
}
