hgroup {

  h1, h2 { 
    margin : 0; padding : 0; 
    font-weight : normal;
  }

  h1 { color : $title_color; }

  h2 { 
    color : $subtitle-color;
    @include adjust-font-size-to(1.2*$base-font-size);
  }

} // hgroup