@import 'compass/layout/sticky-footer';
@include sticky-footer(2.5em, '#grid', '#site-credits', '#contentinfo');

footer.credits { 

  margin : 0;
  @include clearfix; 

  @include at-breakpoint($vertical-layout-columns) {
    padding : $vertical-layout-gutter $vertical-layout-single;
  }

  @include at-breakpoint($horizontal-aside-layout) {
    padding : $horizontal-aside-gutter $horizontal-aside-single;
  } 

  @include at-breakpoint($aside-right-layout) {
    padding : $aside-right-gutter $aside-right-single; 
  }

}
