$credits-color            : $title-color;
$credits-link-color       : $title-color;
$credits-link-color-hover : darken($title-color, 30);

$credits-bg               : desaturate(lighten($header-bg, 18), 10);

$credits-border-top       : lighten($credits-bg, 15);
$credits-border-bottom    : darken($credits-bg, 15);

@import 'credits-layout';

@import 'footer';