footer.credits {

  @extend .meta;
  color            : $credits-color;
  background-color : $credits-bg;
  @include background-image(linear-gradient(darken($credits-bg, 11),
                                            $credits-bg,
                                            lighten($credits-bg, 8)));
  text-shadow      : lighten($credits-bg, 5) 0 1px;

  border : {
    top    : 1px solid $credits-border-top;
    bottom : 1px solid $credits-border-bottom;
  }

  img { vertical-align : middle; }

  a {
    @include link-colors($credits-link-color,
                         $hover: $credits-link-color-hover,
                         $active: $credits-link-color-hover,
                         $visited: $credits-link-color);
  }

  div { padding-top : .3em; }
}
