.default-aside {

  margin   : 0;
  aside { margin : 0; }

  @include at-breakpoint($vertical-layout) {

    @include clearfix; 
    padding    : $vertical-layout-gutter; 
    border-top : 1px solid $aside-border;
  }

  @include at-breakpoint($horizontal-aside-layout) {

    @include clearfix; 
    padding : $horizontal-aside-gutter;

    .recent-posts { 
      @include span-columns(8, $horizontal-aside-columns); 
      padding-right : $horizontal-aside-gutter;
      margin-right  : 0;
    }
    .github       { 
      @include span-columns(7, $horizontal-aside-columns); 
      padding-right : $horizontal-aside-gutter;
      margin-right  : 0;
    }
    .delicious    { 
      @include span-columns(7, $horizontal-aside-columns); 
    }

  } // $horizontal-aside-layout

}
