@include at-breakpoint($aside-right-layout) {

  .aside-base {

    @include span-columns(9 omega, $aside-right-columns); 
    padding       : $aside-right-gutter;
    border-left   : 1px solid $aside-border;
    border-bottom : 1px solid $aside-border;

  } // .aside-base

} // $aside-right-layout
