$aside-border    : desaturate(darken($aside-bg, 7), 10);
$aside-font-size : .9*$base-font-size;
$aside-lines     : lines-for-font-size($aside-font-size);

.aside-base {

  @extend .aside; 
  color            : $aside-color;
  text-shadow      : lighten($aside-bg, 8) 0 1px;
  background-color : $aside-bg;
  border-color     : $aside-border;

  aside { 

    h1 { 
      @include adjust-font-size-to(1.3*$aside-font-size);
      margin  : 0;
      padding : $aside-right-gutter 0 0;
      @include at-breakpoint($horizontal-aside-layout) { padding : 0; }
    }

    ul { 
      list-style : none;
      margin     : 0 0 0 1em;
      padding    : 0;

      li { 
        margin  : 0;
        padding : 0 0 .1em;
        a {
          @include adjust-font-size-to($aside-font-size, .9*$aside-lines);
          @include force-wrap;
          color : $aside-link-color;
          @include link-colors($aside-link-color, 
                               $hover: $aside-link-color-hover, 
                               $active: $aside-link-color-hover, 
                               $visited: $aside-link-color,
                               $focus: $aside-link-color-hover);
        } // a
      }
    }

  } // aside
}

