.index-aside { 

  margin  : 0;
  aside { margin : 0; }

  @include at-breakpoint($vertical-layout) {

    @include clearfix; 
    padding    : $vertical-layout-gutter; 
    border-top : 1px solid $aside-border;
  }

  @include at-breakpoint($horizontal-aside-layout) {

    @include clearfix; 
    padding : $horizontal-aside-gutter $horizontal-aside-single;

    $aside-cols : ( $horizontal-aside-columns - 4 ) / 2;

    .delicious { 
      @include span-columns($aside-cols,
                             $horizontal-aside-columns); 
      padding-right : $horizontal-aside-single;
    }
    .github    { 
      @include span-columns($aside-cols omega, 
                            $horizontal-aside-columns); 
    }

  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    @include float-right;
    width         : columns(8, $aside-right-single);
    padding       : $aside-right-single $aside-right-gutter;
    border-left   : 1px solid $aside-border;
    border-bottom : 1px solid $aside-border;

  } // $aside-right-layout

}
