.index-aside { 

  margin  : 0;
  aside { margin : 0; }

  @include at-breakpoint($vertical-layout) {

    @include clearfix; 
    padding    : $vertical-layout-gutter; 
    border-top : 1px solid $aside-border;
  }

  @include at-breakpoint($horizontal-aside-layout) {

    @include clearfix; 
    padding : $horizontal-aside-gutter;

    .github    { 
      @include span-columns(12, $horizontal-aside-columns); 
      margin-right  : 0;
      padding-right : $horizontal-aside-gutter;
    }
    .delicious { 
      @include span-columns(11 omega, $horizontal-aside-columns); 
    }

  } // $horizontal-aside-layout

}
