<menu type="list" label="follow" role="menubar">
  <li class="delicious-follow">
    <a title="follow on delicious" 
       target="_blank"
       href="{{ site.delicious_follow_url }}{{ site.delicious_user }}&jump=/{{ site.delicious_user }}" ><img src="/images/icon/delicious.png"
               alt="delicious"></a></li>
  <li class="rss-follow">
    <a href="{{ site.feed_url }}" 
       target="_blank"
       rel="subscribe-rss" 
       title="subscribe via RSS"><img src="/images/icon/rss.png" 
                                      alt="rss"></a></li>
  <li class="googleplus-follow">
    <a title="follow via g+1"
       target="_blank"
       href="https://plus.google.com/{{ site.google_plus_user }}?rel=author"><img 
               src="/images/icon/googleplus.png" alt="googleplus"></a></li>
  <li class="github-follow">
    <a title="follow on github"
       target="_blank"
       href="{{ site.github_follow_url }}{{ site.github_user }}" 
       alt="Github icon"><img src="/images/icon/github.png" 
                              alt="github"></a></li>
</menu>
