<menu class="follow-menu" role="menubar">
  <ul>
    <li class="github-follow">
      <a title="follow on github"
         href="https://github.com/{{site.github_user}}" 
         alt="Github icon"><img src="/images/icon/github.png" alt="github"></a>
    </li>
    <li class="googleplus-follow">
      <a title="follow via g+1"
         href="https://plus.google.com/{{ site.google_plus_user }}?rel=author"><img src="/images/icon/googleplus.png" alt="googleplus"></a>
    </li>
    <li class="rss-follow">
      <a href="{{ site.feed_url }}" 
         rel="subscribe-rss" 
         title="subscribe via RSS"><img src="/images/icon/rss.png" alt="rss"></a>
    </li>
    <li class="delicious-follow">
      <a title="follow on delicious" 
         href="https://delicious.com/{{ site.delicious_user }}" ><img src="/images/icon/delicious.png" alt="delicious"></a>
    </li>
  </ul>
</menu>
