<menu class="follow-menu" role="menubar">
  <h1>follow</h1>
  <ul>
    <li>
      <a title="follow on delicious" 
         class="delicious-follow" 
         href="https://delicious.com/{{ site.delicious_user }}" >delicious</a>
    </li><li>
      <a title="follow on github"
         class="github-follow"
         href="https://github.com/{{site.github_user}}" 
         alt="Github icon">@{{site.github_user}}</a>
    </li><li>
      <a title="follow +1"
         class="googleplus-follow"
         href="https://plus.google.com/{{ site.google_plus_user }}?rel=author">+1</a>
    </li><li>
      <a class="rss-follow"
         href="{{ site.feed_url }}" 
         rel="subscribe-rss" 
         title="subscribe via RSS">subscribe</a>
    </li>
  </ul>
</menu>
