<!-- invoke as {% include sharing_menu.html with page %}
            or {% include sharing_menu.html with post %} -->
{% if sharing_menu.sharing %}
  <menu class="sharing_menu">
    <ul>
      {% if site.twitter_tweet_button %}
        <li><a href="http://twitter.com/share" title="Tweet this" class="twitter-share" target="_blank">Tweet</a></li>
      {% endif %}
      {% if site.google_plus_one %}
        <li><a title="+1 on Google Plus" class="googleplus-share" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{site.url}}{{page.url}}" target="_blank">+1</a></li>
      {% endif %}
      {% if site.facebook_like %}
        <li><a title="Share on Facebook" class="facebook-share" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Share</a></li>
      {% endif %}
    </ul>
  </menu>
{% endif %}
