.primary-navigation { 

  padding-left  : columns(1, $vertical-layout-columns);
  padding-right : columns(1, $vertical-layout-columns);

  @include clearfix; 
  margin : 0;

  @include at-breakpoint($horizontal-aside-layout) {

    padding-left  : columns(1, $horizontal-aside-columns); 
    padding-right : columns(1, $horizontal-aside-columns); 

    .primary-navlist { 
      @include span-columns(10, $horizontal-aside-columns); 
    }
    .simple-search { 
      @include span-columns(7 omega, $horizontal-aside-columns);
    }

  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {

    padding-left  : columns(1, $aside-right-columns); 

    .primary-navlist { 
      @include span-columns(12, $aside-right-columns); 
    }
    .simple-search { 
      @include span-columns(10 omega, $aside-right-columns); 
      padding-right  : columns(1, $aside-right-columns); 
    }

  } // $aside-right-layout

}

.primary-navlist {

  ul { 

  @include horizontal-list;

  a:link, a:visited, a:active, a:focus, a:hover { padding : 0.2em 0.5em; }

  }

}
