.primary-navigation { 

  @include pie-clearfix; 
  margin  : 0;
  padding : $vertical-layout-gutter;

  @include at-breakpoint($horizontal-aside-layout) {
    padding : $horizontal-aside-gutter $horizontal-aside-single;

    .primary-navlist { 
      @include span-columns(10, $horizontal-aside-columns); 
    }
    .simple-search { 
      @include span-columns(7 omega, $horizontal-aside-columns);
    }

  } // $horizontal-aside-layout

  @include at-breakpoint($aside-right-layout) {
    padding : $aside-right-gutter $aside-right-single;

    .primary-navlist { 
      @include span-columns(12, $aside-right-columns); 
    }
    .simple-search { 
      @include span-columns(10 omega, $aside-right-columns); 
    }

  } // $aside-right-layout

}

