$nav-bg          : desaturate(lighten($header-bg, 30), 8);
$nav-color       : darken($nav-bg, 55);
$nav-color-hover : $title-color;
$nav-placeholder : desaturate(darken($nav-bg, 10), 15);

@import 'nav-layout';

@import 'primary-navigation';
@import 'primary-navlist';
@import 'simple-search';
