.primary-navigation {

  @extend .main;
  @include adjust-font-size-to(.95*$base-font-size);

  background-color : $nav-bg;
  @include background-image(linear-gradient(lighten($nav-bg, 8),
                                            $nav-bg,
                                            darken($nav-bg, 11)));

  border-top    : 1px solid lighten($nav-bg, 15);
  border-bottom : 1px solid darken($nav-bg, 25);

} // #primary-navigation
