article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
nav,
section, 
summary { // missing definitions: IE 7/8/9
  display : block;
}

[hidden] { // attribute present: IE 7/8/9, Safari 4. 
  display : none; 
}

audio, 
canvas, 
video { // missing definitions: IE 7/8/9
  display  : inline-block;
  *display : inline;
  *zoom    : 1;
}

audio:not([controls]) {
  display : none; // prevent modern browsers from displaying audio without controls
  height  : 0;    // remove excess height in iOS 5 devices
}

.flex-content { max-width: 100%; height: auto; }

body,  // remove default margins and padding
menu { // so many of my menus are h lists
  margin  : 0;
  padding : 0;
}