$sans  : Trebuchet MS, Arial, sans-serif;
$serif : Georgia, Times, Times New Roman, serif;
$mono  : Menlo, Monaco, lucida console, Courier New, monospace;

.sans  { font-family : $sans;  }
.serif { font-family : $serif; }
.mono  { font-family : $mono;  }

.main { @extend .sans;  }
.header { 
  @extend .serif; 
  text-rendering : optimizelegibility; 
  a { @include hover-link; } 
}
.code { 
  @extend .mono;  
  text-rendering : optimizelegibility; 
  a { @include hover-link; } 
}
.aside { 
  @extend .sans;  
  a { @include hover-link; } 
}

body { @extend .main; }
header, h1, h2, h3, h4, h5, h6 { @extend .header; }
pre {
  @extend .code;
  header, h1, h2, h3, h4, h5, h6 { @extend .code; }
}
code, kbd, var, tt, samp { 
  @extend .code; 
  header, h1, h2, h3, h4, h5, h6 { @extend .header; }
}
aside {
  @extend .aside;
  header, h1, h2, h3, h4, h5, h6 { @extend .header; }
}
