html { // prevent iOS text size adjust after orientation change, 
  -webkit-text-size-adjust : 100%; // without disabling user zoom.
  -ms-text-size-adjust     : 100%;
}

b, strong { font-weight : bold; }
del, s    { text-decoration : line-through; }
em, dfn   { font-style : italic; }

mark { // missing definition: IE 7/8/9
  background-color : #ff0;
  color            : #000;
}

a:focus,
a:active, 
a:hover { outline : 0; }

p {
  margin-left  : 0;
  margin-right : 0;
}

q { quotes : none; } // CSS quotes not supported: IE 7
q { font-style : italic;
  &:before { content : '\201C'; }
  &:after  { content : '\201D'; }
}

blockquote {
  position     : relative;
  margin-left  : 2em;
  margin-right : 2em;
  font-style   : italic;
  cite {
    font-style : normal;
    &:before { 
      content : '\2014'; 
      padding : { right : .3em; left : .3em; }
    }
  }
}

.bullet { 
  content : '\2022'; 
  padding : 0 .4em;
  display : inline-block;
}

.vertical-line {
  content : '\007C';
  padding : 0 .4em;
  display : inline-block;
}

// compass vertical rhythm, names determined by compass
$relative-font-sizing        : true;
$round-to-nearest-half-line  : true; 
$base-font-size              : 14px; // MUST be in px
$base-line-height            : 1.3*$base-font-size;
$min-line-padding            : $base-font-size/7;
$default-rhythm-border-style : groove;
@include establish-baseline; // must come after base-line-height and base-font-size

$base-lines                  : lines-for-font-size($base-font-size);

// inconsistent and generally far too small: all browsers
small { @include adjust-font-size-to(.8*$base-font-size);  }
big   { @include adjust-font-size-to(1.2*$base-font-size); }

sup, sub { 
  @include adjust-font-size-to(.8*$base-font-size);
  position : relative;
  display  : inline-block;
}
sup { top    : -.5em; }
sub { bottom : -.5em; }

abbr, abbr[title], acronym { @include trailing-border(1px); cursor : help;  }

p, blockquote, ul, ol, dl { 
  @include margin-leader($base-lines);
  @include margin-trailer($base-lines);
}

.pullquote-right:before,
.pullquote-left:before   {
  content  : attr(data-pullquote);

  padding  : 0;
  position : relative;
  width    : 45%;
  @include adjust-font-size-to(1.4*$base-font-size); 
}

.pullquote-right:before {
  @include float-right;
  @include apply-side-rhythm-border(left, 0, 1.5*$base-lines, 1em, none);
}

.pullquote-left:before {
  @include float-left;
  @include apply-side-rhythm-border(right, 0, 1.5*$base-lines, 1em, none);
}

ul, ol, dl { 
  margin-left  : 1em;
  margin-right : 0;
  padding-left : 0;
}

ul { list-style-type     : disc;
  ul { list-style-type   : circle; 
    ul { list-style-type : square; }}}

ol { list-style-type     : decimal;
  ol { list-style-type   : lower-alpha; 
    ol { list-style-type : lower-roman; }}}

li, dd { 
  @include margin-leader(.5*$base-lines);
  @include margin-trailer(.5*$base-lines);
  margin-left  : 2em;
  margin-right : 0;
}

h1             { @include adjust-font-size-to(2*$base-font-size);   }
h2, section h1 { @include adjust-font-size-to(1.6*$base-font-size); }
h3, section h2, section section h1 {
  font-variant : small-caps;
  @include adjust-font-size-to(1.3*$base-font-size); 
}
h4, section h3, section section h2, section section section h1 {
  font-variant : normal;
  @include adjust-font-size-to(1.3*$base-font-size); 
}
h5, section h4, section section h3, section section section h2, 
section section section section h1 {
  font-variant : small-caps;
  @include adjust-font-size-to(1.1*$base-font-size); 
}
h6, section h5, section section h4, section section section h3, 
section section section section h2, section section section section section h1 {
  font-variant : normal;
  font-style  : italic;
  @include adjust-font-size-to(1.1*$base-font-size); 
}

pre {
  @include force-wrap;
  @include margin-leader($base-lines);
  @include margin-trailer($base-lines);
  margin-left  : 0;
  margin-right : 0;
  padding      : 0;
}

