{% unless page.no_header %}
  <header>
    {% include post/title.html %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
         &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="index-entry">
    {{ content }}
    <nav class="article-index">
      <a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a>
      {% if show_comment_link %}
        <a class="comments-link" 
           href="{% if index %}{{ permalink }}{% endif %}#disqus_thread">view comments &raquo;</a>
      {% endif %}
    </nav>
  </div>
{% else %}
  <div class="entry-content">
    {{ content }}
  </div>
{% endif %}
