{% include helpers/show_comment_link.html %}
{% capture permalink %}{{ root_url }}{{ post.url }}{% endcapture %}
<header>
  <h1 class="title"><a href="{{ permalink }}">{{ post.title }}</a></h1>
  <p class="meta">
    {% include helpers/date.html %}{{ time }}
    &bull; <a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a>
  </p>
</header>
{{ post.content | excerpt }}
<nav>
  <a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a>
  {% if show_comment_link %}
  <a class="comments-link" 
     href="{{ permalink }}#disqus_thread">view comments &raquo;</a>
  {% endif %}
</nav>
