<footer class="credits" id="contentinfo" role="contentinfo">
  <div> {% comment %}hack to make sticky footer happy{% endcomment %}
    <a rel="license" href="/copyright/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a> by <span itemprop="author">{{ site.author }}</span>
    <span class="generator">powered by <a href="http://hholz.com/octoburn/">Octoburn</a></span>{% comment %}please include a link to Octoburn in your template{% endcomment %}
  </div>
</footer>
