#grid {
  margin : 0;

  > header, #primary-navigation, #main-content, #site-credits {
    margin : 0 0.5em;

    @include at-breakpoint($horizontal-aside-layout) { margin : 0 1em; }
  } 

  @include at-breakpoint($aside-right-layout) {

    > header, #primary-navigation, #site-credits, #default-aside, #index-aside {
      margin : 0 1.5em;
    }

    #main-content > article, #main-content > section {
      margin : 0 2.5em 0 1.5em;
    }

  } // end @include at-breakpoint($fullsize-layout) 

} // end #grid {
