$column-width             : 6em;
$gutter-width             : 1em;
$grid-padding             : $gutter-width;

$container-style          : fluid;
$show-grid-backgrounds    : true;

$vertical-layout-columns  : 4; // default, mobile first
$horizontal-aside-columns : 8;
$horizontal-aside-layout  : 30em $horizontal-aside-columns 60em;
$aside-right-columns      : 12;
$aside-right-layout       : 60em $aside-right-columns;

#grid { @include container($vertical-layout-columns, 
                           $horizontal-aside-layout, 
                           $aside-right-layout); }

#main-content { @include clearfix; }
