
//$type-border : lighten($text-color, 11);

#main-content {
  color         : $text-color;
  background    : $content-bg $noise-bg;

  a {
    color : $link-color;
    @include transition(color .3s);
    @include link-colors($link-color,            // normal
                         $link-color-hover,      // hover
                         $link-color-hover,      // active
                         $link-color-visited,    // visited
                         $link-color-hover);     // focus
  }

  @include at-breakpoint($aside-right-layout) {
    > article, section { 
      border-right : 1px solid $aside-border; } // grid border, not text border
  }
}

