.primary-navigation {

  @extend .main;
  @include adjust-font-size-to(.95*$base-font-size);
  position : relative;

  background-color : $nav-bg;
  @include background($nav-bg-front, $nav-bg-back);

  border-top-color    : lighten($nav-bg, 15);
  border-bottom-color : darken($nav-bg, 25);
  @include h-borders(1px, .35*$base-lines, 1em, solid);

} // #primary-navigation

 // search
.primary-navigation form {

  @include background-clip;
  margin: 0; padding: 0;
  text-align : left;

  .search {

    width            : 95%;
    color            : $nav-placeholder;
    background-color : lighten($nav-bg, 15);
    border-color     : darken($nav-bg, 10);

    @include background-clip;
    @include single-box-shadow(lighten($nav-bg, 2), 0, 1px);
    @include border-radius(.5em);
    @include leading-border(1px, .35*$base-lines, 1em, solid);
    @include apply-side-rhythm-border(left, 1px, .5*$base-lines, 1em, none);
    @include apply-side-rhythm-border(right, 1px, .5*$base-lines, 1em, none);
    @include trailing-border(1px, 0, 1em, solid);

    &:focus {

      color            : $nav-color;
      background-color : lighten($nav-bg, 35);
      $border-color    : desaturate(lighten($nav-bg, 45), 7);
      @include box-shadow(0 0 4px $border-color, inset 0 0 3px $border-color);
      outline          : none;

    } // &:focus
  } // .search

  fieldset[role=search] { width : 99% }

} // > form

.primary-navigation nav a {

  font-weight : bold;
  text-shadow : lighten($nav-bg, 12) 0 1px;
  @include link-colors($nav-color,
                       $nav-color-hover,
                       $nav-color-hover,
                       $nav-color,
                       $nav-color-hover);
} 

.no-placeholder {
  .primary-navigation .search {
    background: lighten($nav-bg, 15) image-url('search.png') .3em .25em no-repeat;
    text-indent: 1.3em;
  }
}

