// color for site-credits margin-bottom
.main-content { border-bottom : 1px solid $page-border; }
html { background : $page-bg image-url('line-tile.png') top left; }

$footer-bg-front      : image-url('noise.png');
$footer-bg-back       : linear-gradient(lighten($footer-bg, 8), 
                                        $footer-bg, darken($footer-bg, 11));
$footer-border-top    : lighten($footer-bg, 15);
$footer-border-bottom : darken($footer-bg, 15);

footer.credits {
  @include background($footer-bg-front, $footer-bg-back);
  @include border-bottom-radius(.4em);
  color            : $footer-color;
  background-color : $footer-bg;
  text-shadow      : lighten($footer-bg, 5) 0 1px;
  border-top       : 1px solid $footer-border-top;
  a {
    @include link-colors($footer-link-color, 
                         $footer-link-color-hover, 
                         $footer-link-color-hover,
                         $footer-link-color,
                         $footer-link-color-hover);
  }
}
