header[role=banner] {

  background : $header-bg;
  color      : $subtitle-color;

  h1 { 
    @include padding-leader($base-lines);
    display : inline-block;
    margin  : 0;
    a, a:visited, a:hover { color : $title_color; }
  }

  h2 { margin : 0; }

}