---
layout      : default
aside_style : default
body_id     : home
updated     : 2012-09-08 22:55
---
<section class="content">
  {% assign post = site.posts.first %}
  {% include articles/excerpt_entry.html %}
  <p class="moving-in">
    Pardon my mess, but I'm still moving in. Unpacking the last
    of <a href="http://design.hholz.com/">the boxes</a> is lower
    priority than getting on with life here in my new digs, however,
    you are welcome to rummage around in them yourself.
  </p>
</section>
{% include helpers/aside.html %}
