body { cursor : auto !important; } // improve affordance of all widgets

figure { margin : 0; } // margin missing: IE 7/8/9, Safari 5

table { // Remove most spacing between table cells.
  border-collapse : collapse;
  border-spacing  : 0;
}

img {
  border : 0; // Remove border when inside `a` element: IE 7/8/9
  -ms-interpolation-mode : bicubic; // Improve image quality when scaled: IE 7
}

svg:not(:root) { overflow : hidden; } // overflow displayed oddly in IE 9

nav ul, 
nav ol { // Correct list images handled incorrectly: IE 7
  list : {
    style       : none;
    style-image : none;
  }
}


