
$header-bg      : #1d2f2b;
$title-color    : #f2f2f2;
$subtitle-color : lighten($header-bg, 65);
$page-bg        : desaturate($header-bg, 10);

$nav-bg          : desaturate(lighten(#1d2f2b, 30), 5);
$nav-bg-front    : image-url('noise.png');
$nav-bg-back     : linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
$nav-color       : darken($nav-bg, 55);
$nav-color-hover : $title-color;
$nav-placeholder : $title-color;

$link-color         : #219cba;
$link-color-visited : #527e89;
$link-color-hover   : #55d2f1;
$link-color-active  : #55d2f1;
$link-color-focus   : #55d2f1;

$sidebar-bg                       : #d1dcd9;
$sidebar-link-color               : #527e89;
$sidebar-link-color-subdued       : #527e89;
$sidebar-link-color-hover         : #219cba;
$sidebar-link-color-subdued-hover : #219cba;
$sidebar-link-color-active        : #219cba;

$footer-color            : $title-color;
$footer-bg               : desaturate(lighten(#1d2f2b, 18), 10);
$footer-bg-front         : image-url('noise.png');
$footer-bg-back          : linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));
$footer-link-color       : $title-color;
$footer-link-color-hover : darken($title-color, 30);

//$solarized: dark;

// code markers
$marker             : rgba(#00baff, .5);
$marker-bg          : rgba($marker, .03);
$marker-border      : rgba($marker, .13);
$marker-border-left : $marker;

// fine control
$base03        : #002b36; //darkest blue
$base02        : #073642; //dark blue
$base01        : #586e75; //darkest gray
$base00        : #657b83; //dark gray
$base0         : #839496; //medium gray
$base1         : #93a1a1; //medium light gray
$base2         : #eee8d5; //cream
$base3         : #fdf6e3; //white
$solar-yellow  : #b58900;
$solar-orange  : #cb4b16;
$solar-red     : #dc322f;
$solar-magenta : #d33682;
$solar-violet  : #6c71c4;
$solar-blue    : #268bd2;
$solar-cyan    : #2aa198;
$solar-green   : #859900;
