//$header-font-size: 1em;
$header-padding-top    : 1em;
$header-padding-bottom : 1em;

// Padding used for layout margins
$pad-min    : 5px;
$pad-narrow : 10px;
$pad-medium : 15px;
$pad-wide   : 25px;

// Sidebar widths used in media queries
$sidebar-pad-medium : 10px;
$sidebar-pad-wide   : 15px;

