$indented-lists        : true;

$header-padding-top    : 1em;
$header-padding-bottom : 1em;

$pad-min               : 5px;
$pad-narrow            : 10px;

$sidebar-width-medium  : 240px;
$sidebar-pad-medium    : 10px;
$pad-medium            : 15px;

$sidebar-width-wide    : $sidebar-width-medium;
$sidebar-pad-wide      : $sidebar-pad-medium;
$pad-wide              : 25px;

