ul, ul ul, ul ol, ol, ol ul, ol ol {
  margin-left   : 1.8em;
  margin-bottom : 0.8em;
}

h2, h3, h4, h5, h6 { margin-bottom : 0.5em; }

body {
  nav form fieldset input { vertical-align : -0.3em; }
  p, blockquote           { margin-bottom  : 0.8em;  }
  blockquote              { font-size      : 1em;    }

  #main {
    font-family : $sans;
    #content {
      a { text-decoration : none; }

      > div {
        padding-top    : 0;
        padding-bottom : 0;
        img, video, .flash-video {
          &.center { margin-bottom : 0.8em; }
        }
      }

      article {

        #home & header {
          padding-bottom   : 0.5em;
          margin-bottom    : 0;
          background-image : none;
          h1 a {
            @include link-colors($sidebar-color, $hover : $sidebar-color, $focus : $sidebar-color, $visited : $sidebar-color, $active : $sidebar-color);
            text-decoration : none;
          }
        }

        #blog-index & {
          padding-top : 1em;
          header { padding-top : 1.5em; }
        }

        #blog-archives &[data-linklog] .entry-title a { text-decoration: none; }

        header {
          padding-top : 1.3em;
          @media only screen and (min-width : 768px) { margin-bottom : 0.5em; }
        }

        &.linklog .entry-title a { text-decoration: none; }

        .index-entry {
          > p:first-child   { display : inline; }
          nav.article-index { display : inline; }
        }

        a[rel=full-article] { 
          @extend .main-text;
          display    : inline-block;
          padding    : 0 1em;
          margin     : 0;
          font-size  : smaller; 
          color      : $link-color;
          background : $main-bg;
          &.hover { 
            color      : $link-color-hover; 
            background : $main-bg;
          }
        }
      }

      aside.sidebar {
        padding : 0 0.5em 0.5em 1.5em;
        section {
          margin-bottom : 1em;
          a { text-decoration : none; }
          h1:first-child { margin-top : .2em; }
          h1             { margin-top : 1em;   }
          ul {
            margin-left : 0.6em;
            li {
              border     : 0;
              box-shadow : none;
              padding    : 0.2em 0 !important;
            }
          }
        }
      }

    }
  }

  #content > div > footer {
    font-size   : smaller;
    font-style  : italic;
    padding-top : 1.5em;
  }

  nav.pagination {
    text-align  : center;
    padding-top : 1.5em;
  }

  #content > div > footer,
  nav.pagination {
    @extend .center;
    @extend .group;
    background    : $img-border top left repeat-x;
    margin-top    : 1em;
    margin-bottom : 1em;
    margin-left   : $pad-min;
    margin-right  : $pad-min;

    @media only screen and (min-width: 480px) {
      margin-left  : $pad-narrow;
      margin-right : $pad-narrow;
    }

    @media only screen and (min-width: 768px) {
      margin-left  : $pad-medium;
      margin-right : $pad-medium;
    }

    @media only screen and (min-width: 992px) {
      margin-left  : $pad-wide;
      margin-right : $pad-wide;
    }
  }

  > footer {
    padding-top    : 0.75em;
    padding-bottom : 0.75em;
    margin-bottom  : 1em;
  }

}

@media only screen and (min-width: 992px) {
  body { font-size : 1em; }
  h1   { font-size : 2em; }
}

