#content {
  > div {
    padding-top    : 0;
    padding-bottom : 0;
  }
  .blog-index {
    article {
      padding-top : 1em;
      header {
        padding-top : 1.5em;
      }
    }
  }
  .home {
    article {
      header {
        padding-bottom   : 0.5em;
        margin-bottom    : 0;
        background-image : none;
        h1 {
          a {
            @include link-colors($sidebar-color, $hover: $sidebar-color, $focus: $sidebar-color, $visited: $sidebar-color, $active: $sidebar-color);
          }
        }
      }
    }
  }
}

a.read-more {
  font-size : smaller;
}

#main {
  font-family: $sans;
}

body {
  > footer {
  padding-top    : 0.75em;
  padding-bottom : 0.75em;
  margin-bottom  : 1em;
  }
  p, blockquote, ul, ol { 
    margin-bottom: 0.755em; 
  }
}

article {
  header {
    padding-top: 1em;
    @media only screen and (min-width: 768px) {
      margin-bottom: 0.5em;
    }
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
  }
}

aside.sidebar {
  padding: 0 0.5em 0.5em 1.5em;
  section {
    margin-bottom: 1em;
    h1:first-child {
      margin-top: 1.2em;
    }
    h1 {
      margin-top: 1em;
    }
    a {
      text-decoration: none;
    }
    li {
      border: 0;
      padding: 0.2em 0 !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  body { font-size : 1em;   }
  h1   { font-size : 2.2em; }
}

blockquote {
  font-size : 1em;
}
