$sans  : 'Ubuntu', 'Trebuchet MS', 'Arial', sans-serif;
$serif : 'Quando', 'Georgia', 'Times', 'Times New Roman', serif;
$mono  : 'Electrolize', 'Menlo', 'Monaco', 'lucida console', 'Courier New', monospace;

$heading-font-family         : $serif;
$header-title-font-family    : $serif;
$header-subtitle-font-family : $serif;


